<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title></title>
	</head>
	<link rel="stylesheet" href="../css/layout.page.css" />
	<link rel="stylesheet" href="../dist/css/animsition.css" />
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script type="text/javascript" src="../dist/js/animsition.js" ></script>
	<script type="text/javascript" src="../dist/js/pagenext.js" ></script>
	<body>
	<div id="page2" class="animsition" >
    <a style="visibility: collapse;" id="indexid">2</a>
    <a  href="page2.html" >123123</a>
 
    <a href="page3.html" >123123</a>
 
  </div>
	</body>
</html>
