<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title></title>
	</head>
	<link rel="stylesheet" href="../css/layout.page.css" />
	<link rel="stylesheet" href="../dist/css/animsition.css" />
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script type="text/javascript" src="../dist/js/animsition.js" ></script>
	<script type="text/javascript" src="../dist/js/pagenext.js" ></script>
	<body>
		<div id="page1" class="animsition" >
   <a style="visibility: collapse;" id="indexid">1</a>
   <a data-transition = "rotate-out-sm"  href="page3.html">animsition link 1</a>
 
    <a href="page2.html" >animsition link 2</a>
    
  </div>
	</body>
</html>
